@model Videoteka.DataModel.Film

@{
    ViewData["Title"] = "Editace záznamu o filmu";
}

<h2>Editace záznamu o filmu</h2>

<form asp-action="@nameof(Videoteka.Controllers.HomeController.Edit)" asp-route-id="@Model.IDFilm">
    <div class="form-horizontal">
        <h4>Film</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IDFilm" />
        <div class="form-group">
            <label asp-for="Nazev" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RokVydani" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RokVydani" class="form-control" />
                <span asp-validation-for="RokVydani" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Zanr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Zanr" class="form-control" />
                <span asp-validation-for="Zanr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hodnoceni" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hodnoceni" class="form-control" />
                <span asp-validation-for="Hodnoceni" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="margin-top col-md-10">
                <input type="submit" value="Uložit" class="btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
